* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
}

.conntainer {
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    /* background: #fff; */
    padding: 10px;
    border-radius: 5px; 
}

.box nav {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.box nav ul li i {
    font-size: 18px;
}

.box nav ul li a {
    text-decoration: none;
    color: #000;
    /* font-size: 20px; */
}
