* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #f0f0f0;
}

#timer {
    font-size: 80px;
    color: #333;
    margin-top: 50px;
}

#btnStart {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#btnCancel {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}