/* .ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: ball;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    border: 1px solid black;
}

@keyframes ball {
    0% {
    
    }
    25% {
        transform: translate(50px, 50px);
        margin-left: 100px;
    }
    50% {
        tra
        margin-left: 150px;
    }
    75% {
        margin-left: 200px;
    }
    100% {
        margin-bo: 250px;
    }
} */

body {
    background: #3e6c61;
}
.container {
    width: 500px;
    height: 400px;
    background-color: #7bd188;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}