* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    background-color:#151320;
}

div {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    /* to right , left , top , bottom , 130deg , 40deg */
    background: linear-gradient( to right, #fd004c 20%, #fe9000  20%, #fe9000 40%, #fff020 40%, #fff020 60%, #00c2fe 60%, #00c2fe 80%, #fb00fd 80%);
}